APP_PORT=4000
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=marketplace_db
DB_HOST=localhost

JWT_ACCESS_SECRET=jwt_access_secret
JWT_REFRESH_SECRET=jwt_refresh_secret
JWT_ACCESS_EXPIRED=36000   #second
JWT_REFRESH_EXPIRED=86400  #second